body{
	
	background: #000;
	/* padding-top: 75px; */
}
.top-box{
	margin-top: 2px;
}
.top-bg-img{
	width: 100%;
}
.wenan-title-box{
	color: #E7E7E7;
	font-size: 24px;
	font-weight: bolder;
	padding-left: 23px;
	margin-top: 5px;
}

.date-box{
	color: #696969;
	font-size: 12px;
	padding-left: 23px;
	margin-top: 10px;
}


.wenan-box{
	margin-top: 22px;
}
.wenan-list-li{
	color: #ECECEC;
	font-size: 16.2px;
	margin-bottom: 12px;
	line-height: 26px;
	padding-left: 24px;
	padding-right: 20px;
	
}


.console{
	margin-top: 20px;
	text-align: center;
	height: 45px;
	padding: 0px 10px;
}
.console-title{
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	color: #fff;
}
.console-text{
	float: left;
	margin-left: 25px;
	width: 80px;
	height: 42px;
	font-size: 28px;
	text-align: center;
	border: none;
	border-bottom: 2px solid #FFF;
	background: none;
	color: #fff;
}
.console-text-sure{
	float: right;
	height: 45px;
	width: 100px;
	border-radius: 7px;
	border: none;
}
.wenan-title{
	width: 100%;
	height: 30px;
}

.title-box-margin{
	margin-top: 20px;
	margin-bottom: 20px;
}
.title-box{
	text-align: center;
	height: 45px;
	padding: 0px 10px;
	display: flex;
}
.title-tips{
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	color: #fff;

}
.mySelect{
	float: left;
	height: 45px;
	font-size: 14px;
	color: #000;
	flex: 1;
	margin-left: 25px;
	border-radius:7px;
	
	cursor:pointer;
	
	outline:none;
}
.wenannumber-box{
	height: 45px;
	padding: 0px 10px;
	display: flex;
	
}
.wenannumber{
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	color: #fff;
	margin-left: 25px;
	color: red;
}
.wenan_num{
	
}